<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
 <form action="/login" method="post">
   <input type="email" name="username" placeholder="enter ur email">
   <input type="password" name="password" placeholder="enter ur password to log ur ass in">
   <button type="submit">log-in</button>
 </form> 
</body>
</html>
