<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>posts to see</title>
</head>
<body>
  <button><a href="/post_form">post something</a></button>
  <div>
    <%for (let i = 0; i<posts.length; i++){%>
    <div>
      <%=posts[i].postdetails%>
      <% if (isMember){%>
       <section><%= posts[i].created_at%></section>
       <section><%= posts[i].firstname%></section>
       <%}%>
    </div>
    <%}%>
  </div>
  <form method="post" action="/posts">
    <button type="submit">logout</button>
  </form>
</body>
</html>
